/**********************************
 * header-bar, toolbar separator  *
 **********************************/
.header-bar > GtkBox > .separator.vertical  {
	-GtkWidget-wide-separators: true;
	-GtkWidget-separator-width: 2px;
	background: transparent;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: transparent;
	border-image: -gtk-scaled(url("assets/header-separator.png"),url("assets/header-separator@2.png")) 0 1 0 1 / 0 1px 0 1px stretch;
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-image: url("assets/noise-texture-light.png");
}

/*******************
 * check *
 *******************/
/* draw regular check and radio items using our assets */

.check,
.view.cell.check {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.svg"));
	background-image: url("assets/checkbox-unchecked.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.check:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.svg"));
    background-image: url("assets/checkbox-unchecked-insensitive.svg");
}

.check row:insensitive {
	background-color: transparent;
}

.check:active,
.check:checked,
.view.cell.check:active,
.view.cell.check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.svg"));
    background-image: url("assets/checkbox-checked.svg");
}

.check:active:insensitive,
.check:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.svg"));
    background-image: url("assets/checkbox-checked-insensitive.svg");
}

.check:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.svg"));
    background-image: url("assets/checkbox-mixed.svg");
}

.check:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.svg"));
    background-image: url("assets/checkbox-mixed-insensitive.svg");
}

/*******************
 * radio *
 *******************/
/* draw regular check and radio items using our assets */


.radio,
.view.cell.radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.svg"));
	background-image: url("assets/radio-unselected.svg");
	background-repeat: no-repeat;
	background-position: center;
}


.radio:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.svg"));
    background-image: url("assets/radio-unselected-insensitive.svg");
}

.radio row:insensitive {
	background-color: transparent;
}


.radio:active,
.view.cell.radio:active,
.radio:checked,
.view.cell.radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-selected.svg"));
    background-image: url("assets/radio-selected.svg");
}

.radio:active:insensitive,
.radio:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.svg"));
    background-image: url("assets/radio-selected-insensitive.svg");
}

.radio:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.svg"));
    background-image: url("assets/radio-mixed.svg");
}

.radio:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.svg"));
    background-image: url("assets/radio-mixed-insensitive.svg");
}


/**************************
 * menuitem check & radio *
 **************************/

.menuitem.check {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox.svg"));
	color: @theme_fg_color;
	icon-shadow: none; 
}
.menuitem.check:active, .menuitem.check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-checked.svg"));
}
.menuitem.check:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-mixed.svg"));
}

.menuitem.check:active:hover {
	color: @theme_selected_fg_color;
}
.menuitem.check:insensitive {
	color: @insensitive_fg_color; 
}

.menuitem.radio {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio.svg"));
	color: @theme_fg_color;
	icon-shadow: none; 
}
.menuitem.radio:active, .menuitem.radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio-checked.svg"));
}
.menuitem.radio:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio-mixed.svg"));
}
.menuitem.radio:hover {
	color: @theme_selected_fg_color;
}
.menuitem.radio:insensitive {
	color: @insensitive_fg_color; 
}


GtkIconView.content-view.cell.check {
    background-image: url("assets/grid-selection-unchecked.svg");
}

GtkIconView.content-view.cell.check:active {
    background-image: url("assets/grid-selection-checked.svg");
}


/*******************
 * Pane separators *

.pane-separator {
    background-image: url("assets/pane-separator-grip.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator:hover {
    background-image: url("assets/pane-separator-grip-prelight.svg");
}

.pane-separator.vertical {
    background-image: url("assets/pane-separator-grip-vertical.svg");
}

.pane-separator.vertical:hover {
    background-image: url("assets/pane-separator-grip-vertical-prelight.svg");
}
 *******************/
