/* default color scheme */
@define-color bg_color #e2e2e2;
@define-color fg_color #404040;
@define-color base_color #ffffff;
@define-color text_color #222222;
@define-color selected_bg_color #569be4;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #303030;
@define-color tooltip_fg_color #f0f0f0;

/* widget colors */
@define-color menu_bg_color #f9f9f9;
@define-color menu_fg_color @theme_text_color;
@define-color titlebar_bg_color @bg_color;
@define-color titlebar_fg_color @fg_color;
@define-color menubar_bg_color @theme_bg_color;
@define-color menubar_fg_color @theme_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color panel_bg_color @theme_bg_color;
@define-color panel_fg_color @theme_fg_color;
@define-color borders shade(@theme_bg_color, 0.88);
@define-color unfocused_borders shade(@theme_bg_color, 0.88);

/* insensitive colors */
@define-color insensitive_bg_color shade(@bg_color, 0.88);
@define-color insensitive_fg_color shade(@fg_color, 1.12);

/* nautilus and gtkfilechooser sidebar colors */
@define-color sidebar_bg_color #f5f4f5;
@define-color sidebar_fg_color #4d4d4d;

@define-color sidebar_bg @sidebar_bg_color;
@define-color sidebar_fg @sidebar_fg_color;
@define-color sidebar_bg_unfocused @sidebar_bg_color;
@define-color sidebar_fg_unfocused @sidebar_fg_color;

@define-color titlebar_color @bg_color;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow #ffffff;
@define-color dark_shadow #000000;

/* infobars colors and other gtk+ colors */
@define-color infobar_bg_color #eaebec;
@define-color infobar_fg_color @fg_color;
@define-color infobar_text_shadow alpha(white, 0.5);
@define-color link_color #4a90d9;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

/* misc colors used by gtk+ */
@define-color info_bg_color @infobar_bg_color;
@define-color warning_bg_color @infobar_bg_color;
@define-color question_bg_color @infobar_bg_color;
@define-color error_bg_color @infobar_bg_color;

/* osd */
@define-color osd_base #333;
@define-color osd_fg #eee;
@define-color osd_bg alpha(@osd_base, 0.8);

/* backdrop colors */
@define-color backdrop_selected_bg_color shade (@theme_bg_color, 0.9);
@define-color backdrop_selected_fg_color @theme_fg_color;

@define-color content_view_bg @sidebar_bg_color;
@define-color list_box_bg @sidebar_bg_color;


@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/xfce.css");
