@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

  /* The button box must appear on top of the navigator-toolbox in order for
   * click and hover mouse events to work properly for the button in the restored
   * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
   * can swallow those events.
   */

root {
    --tabs-border: transparent !important;
    /* active tab left & right borders - not working in 58?*/
    --toolbox-border-bottom-color: transparent !important;
    /* 1px line under background tabs */
    --chrome-nav-bar-controls-border-color: transparent !important;
    /* border around url bar */
}

:-moz-any(.tabs-newtab-button,#new-tab-button,#alltabs-button) .toolbarbutton-icon{
    transform: scale(0.8, 0.8) !important;
    margin-top:2px !important;
}

:root:-moz-lwtheme {
    --toolbox-border-bottom-color: rgba(0,0,0,0) !important; 
}

#nav-bar {
    box-shadow:0px -12px 12px 0px rgba(0, 0, 0, 0.08) !important;
    border:none !important;
    padding:0px 8px !important;
}

/* custom icon for bookmarks button */
#bookmarks-menu-button { /* 'Show your bookmarks' toolbar button */
    list-style-image: url('bookmarks.svg') !important;
}

/* remove separator near system menu */
#PanelUI-button{border-left:none !important;}

/* small round back button */
:root:not([uidensity=compact]) #back-button>.toolbarbutton-icon {
    background-color: white !important;
    border: 1px solid #a0a0a0 !important;
	box-shadow: none !important;
    transform: scale(.85, .85) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border: none !important;
    color: grey !important;
    opacity: .2 !important;
}

.tabbrowser-tab[visuallyselected="true"] {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.33);
}

/* no colored line aboce active tab */
.tab-line { display: none !important; }

/* no loading effect on tab */
.tab-loading-burst { display: none !important; }

/* Tabs with no icons  */
.tabbrowser-tab:not([busy="true"]):not([pinned]) .tab-icon-image
{ display: none !important; }


/* Tabs with desaturated icons
.tabbrowser-tab:not([busy="true"]):not([pinned]) .tab-icon-image
{ filter: grayscale(100%); }
 */

/* hide back and forwared button 
#back-button,
#forward-button {
    display: none !important;
}*/


/* URL bar */
#urlbar[focused="true"],
#urlbar:hover, .searchbar-textbox:hover {
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #d0d1d2 !important;
    outline: none !important;
}

#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    background: transparent !important;
    height: 32px !important;
    padding: 0px !important;
    font-size: 1em !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    -moz-appearance: none;
    margin: 0px 0px !important;
    min-height: 24px !important;
    cursor: default;
}

/* URL bar only bottom border */
#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    border-radius: 0px !important;
    border-bottom: 1px solid #d0d1d2 !important;
}

/* monochrome icons on URL bar */
#pageActionSeparator {
 display: none !important; }

#pageActionButton,
#pocket-button-box,
ar-button,
/* .autocomplete-history-dropmarker, */
#identity-box,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional,
#page-action-buttons,
#PanelUI-menu-button,
#identity-icon-labels {
 filter: grayscale(100%); 
}

/* bookmarks toolbar */

#PersonalToolbar {
	max-height: none !important; /* Otherwise it's limited to 4em */
	height: 2.5em; /* Just some ridiculous size so you know it works. */
    color: #808080 !important;
    background: #f6f7f8 !important;
}

/* link barra preferiti al centro e niente icone */
#personal-bookmarks, #PlacesToolbarItems {
-moz-box-pack: center!important;
}
 
.bookmark-item .toolbarbutton-icon {
    display: none !important;
}
 
#PlacesToolbar .bookmark-item:hover { /* Hide Mouse-over Effect */
    background: transparent !important;
   color: black !important;
}

/* MIN MAX CLOSE on the left */



/* rimuovi spazio vuoto a sx in FF60 con CSD attivo  */
.titlebar-placeholder[type="pre-tabs"], .titlebar-placeholder[type="post-tabs"] 
{  display:none !important; } 

#titlebar-max {
  -moz-box-ordinal-group: 0;
}

#titlebar-content {
  direction: rtl;
}

#TabsToolbar {
  direction: rtl;
}

#tabbrowser-tabs {
  direction: ltr;
}

#titlebar-min{margin-left: 6px !important; }
#titlebar-max{margin-left: 0px !important; }
#titlebar-close{margin-left: -2px !important;  }


